/**
 * ZF2 Boilerplate
 * Override the default bootstrap variables here
 */
$brand-primary: #36465D;
$enable-flex: true;

@import "../../bower_components/bootstrap/scss/bootstrap.scss";

body {
    padding-top: 80px;
    padding-bottom: 20px;
}