<?php
/**
 * Doctrine persistency configuration
 */
return [
    'doctrine' => [
        'connection' => [
            'orm_default' => [
                'driverClass' => 'Doctrine\DBAL\Driver\PDOPgSql\Driver',
                'params' => [
                    'host'     => '127.0.0.1',
                    'port'     => '5432',
                    'user'     => '@dbuser',
                    'password' => '@dbpass',
                    'dbname' => '@dbname',
                ],
            ],
        ],

        // Entity Manager instantiation settings
        'entitymanager' => [
            'orm_default' => [
                'connection'    => 'orm_default',
                'configuration' => 'orm_default',
            ],
        ],

        // Use array cache locally, also auto generate proxies on local.
        'configuration' => [
            'orm_default' => [
                'metadata_cache'   => 'array',
                'query_cache'      => 'array',
                'result_cache'     => 'array',
                'hydration_cache'  => 'array',
                'generate_proxies' => true,
                'proxy_dir'        => 'data/DoctrineORMModule/Proxy',
            ],
        ],
    ],
];
